@use '../../styles/globals';

.key-value-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  max-width: 40vw;
  @media (max-width: globals.$mobile) {
    width: 90%;
  }

}

.th, .td {
  padding: 15px 20px 15px 20px;
}

.tr:nth-child(odd) {
  background-color: var(--rs-gray-100);
}

.td:nth-child(odd) {
  font-weight: 100;
  text-transform: lowercase;
}

