@use 'reset';
@use 'globals';

:root {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // &.rs-theme-dark {
  //   background-color: black;
  // }
  font-size: 14px;
  @media (max-width: globals.$mobile) {
    font-size: 10px;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  padding: 0vw;
}


// Overriding css defaults

.rs-navbar-brand {
  padding: 1vh 3vh 1vh 2vh;
}

.rs-drawer {
  @media (max-width: globals.$mobile) {
    font-size: 1.5rem;
  }
}

.rs-navbar-brand + .rs-navbar-brand {
  padding-right: 2vw;
}

.rs-drawer-left.rs-drawer-xs, .rs-drawer-right.rs-drawer-xs {
  width: 55vw;
  max-width: 500px;
  min-width: 250px;
}

.hidden {
  visibility: hidden;
}

//  TODO  FIX  THIS!!
//  TODO  FIX  THIS!!
//  TODO  FIX  THIS!!
.rs-content {
  // background-color: bisque !important;

  button.dtsb-button {
    background-color: #ffffff !important;
  }

  button {
    background-color: #ffffff !important;
  }

  div.dt-container {

    thead {
      font-weight: 100 !important;
    }

    font-weight: 100;

    // table.dataTable thead th, table.dataTable tfoot th
    th {
      font-weight: 600 !important;
      color: black !important;
    }

    td a {
      color: #025ce7;
      font-weight: 400;
      text-decoration: none;
    }
    td a:visited {
      color: rebeccapurple;
    }

    button {
      // background-color: rgba(255, 255, 255, 1) !important;
      background: none !important;
    }

    button:hover {
      background-color: var(--rs-gray-100) !important;
      // background: none !important;
      border-color: black !important;
      // border-width: 10px !important;
      font-weight: 400 !important;
    }
  }
}

/*
 * I need to but the fixes for the fixed column
 * styling here
 */
td.dtfc-fixed-left,
th.dtfc-fixed-left,
thead.dtfc-fixed-left {
  opacity: 1;
  background-color: white;
  z-index: 10;
}

.dtfc-scrolling-start td.dtfc-fixed-left,
.dtfc-scrolling-start th.dtfc-fixed-left,
.dtfc-scrolling-start thead.dtfc-fixed-left {
  border-right: 1px solid #ddd !important;
}

.dataTables_wrapper {
  overscroll-behavior-x: contain;
}
