
@use 'reset';

// breakpoints
$smallerWidth0: 1600px;
$smallerWidth1: 1200px;
$smallerWidth2: 1000px;
$mobile: 780px;


:root {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // &.rs-theme-dark {
  //   background-color: black;
  // }
  font-size: 14px;
  @media (max-width: $mobile) {
    font-size: 10px;
  }
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  padding: 2vw;
}

.rs-navbar-brand {
  padding: 1vh;
}

.rs-navbar-brand + .rs-navbar-brand {
  padding-right: 2vw;
}

.rs-drawer-left.rs-drawer-xs, .rs-drawer-right.rs-drawer-xs {
  width: 25vw;
  min-width: 250px;
}

h1 {
  color: red;
  .rs-theme-dark & {
    color: green;
  }
}

.hidden {
  visibility: hidden;
}
