@use '../../../styles/globals';

.exhibition-view {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: globals.$mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.obj-cards {
  display: flex;
  flex-direction: column;
  
  @media (max-width: globals.$mobile) {
    gap: 10px;
    width: 100vw;
  }
}


.exhibition-card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-size: 1.5rem;
  border: solid;
  border-width: 1px 0px;
  margin-top: 7vh;

  @media (max-width: globals.$mobile) {
    font-size: 3rem;
  }
}

.title {
  font-weight: 100;
  font-size: 2em;
  padding: 3vh 0px;
}

.display-date {
  font-style: italic;
  font-weight: 200;
}

.boiler-text {
  //  HACK  
  padding-top: 40px;
  font-weight: 100;
  font-size: .9em;
}

.left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;

  @media (max-width: globals.$mobile) {
    width: 90vw;
  }
}

.right {
  display: flex;
  flex-direction: column;
}
