
.object-view {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0px;
}

.object-number {
  font-size: 2rem;
  flex-grow: 1;
}

.oid-and-arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.header-arrows {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 3rem;
  align-items: flex-end;
}

.header-angle-links {
  display: flex;
  &:visited, &:link {
    color: black;
  }
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background-color: rebeccaPurple; //  TODO  awwwwww
  background-color: var(--rs-gray-100);
  color: black;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px; // 2px 10px 100px;

  @media (max-width: 780px) {
    margin: 0px;
  }
}

.tombstone-and-thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  //  TODO  HARDCODED!
  @media (max-width: 780px) {
    flex-direction: column;
  }
}

.brief-info {
  flex-grow: 1;
}

.tomb-stone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  gap: 20px;
}

.tomb-stone-name {
  font-size: 2.3rem;
  font-weight: bold;
  margin-right: 10ch;
}

.tomb-stone-date {
  font-size: 1.5rem;
}

.tomb-stone-title {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

.tomb-stone-medium {
  font-size: 1.5rem;
}
