@use '../../../styles/globals';

.object-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px 10px 10px;
  margin: 0px;
}

.object-number {
  font-size: 2rem;
  flex-grow: 1;
}

.oid-and-arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.header-arrows {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 3rem;
  align-items: flex-end;
}

.header-angle-links {
  display: flex;
  &:visited, &:link {
    color: black;
  }
  text-decoration: none;
}

.disabled-angle-links {
  display: flex;
  &:visited, &:link {
    color: black;
  }
  text-decoration: none;
  opacity: 50%;
  cursor: not-allowed;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background-color: rebeccaPurple; //  NOTE  awwwwww
  background-color: var(--rs-gray-100);
  color: black;
  width: 95vw;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 20px 0px;
}

.content {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 20px; // 2px 10px 100px;
  width: 90vw;
  gap: 50px;

  @media (max-width: globals.$mobile) {
    flex-direction: column;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-grow: 1;

  @media (max-width: globals.$mobile) {
    align-items: center;
  }
}

.right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-grow: 1;
  & a {
    display: none;
  }
  & a[href], {
    display: block;
  }

  @media (max-width: globals.$mobile) {
    align-items: center;
  }
}

.brief-info {
  flex-grow: 1;
}
