@use '../../styles/globals';

.tombstone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 2vw 10vw 2vw 2vw;
  max-width: 85vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);

  @media (max-width: globals.$mobile) {
    flex-direction: column;
    padding: 30px;
    width: 100%;
  }
}

.tombstone-name {
  font-size: 2.5rem;
  // font-weight: bold;
  margin-right: 10ch;
  font-weight: 100;
}

.tombstone-date {
  font-size: 1.5rem;
}

.tombstone-title {
  font-size: 3rem;
  font-weight: 400;
  // font-style: italic;
}

.tombstone-medium {
  font-size: 1.2rem;
  font-weight: 100;
}
