
.navBrandIcon {
  height: 100%;
  padding: 0px;
}

.navBrandIconHolder {
  padding: 1vh 3vh;
}

.brandName {
display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.6em;
  width: 51vw;
  font-weight: 100;
  letter-spacing: .01ch;
}
