name: Docker Image CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up the credentials file
      run: |
        echo ${{ vars.S3LIMITEDMISCELLANEOUS }} > credentials

    - name: cat credentials
      run: cat credentials

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ppd:$(date +%s) --secret id=aws,src=credentials
