name: Docker Image CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up the credentials file
      run: |
        echo "${{ secrets.S3LIMITEDMISCELLANEOUS }}" > credentials

    - name: credentials worked
      run: |
        wc -l credentials
        echo $PWD
        ls -al

